{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1>Формы, cookie</h1>
    <div>Привет, <span style="color: {{ name_color }}">{{ name }}</span>!!</div>
    <div>Список сделанных страниц:</div>
    <ol>
        <li>
            <a href="/lab3/cookie/">cookie</a> 
        </li>  
        <li>
            <a href="/lab3/del_cookie/">delete cookie</a> 
        </li>   
        <li>
            <a href="/lab3/form1/">form 1</a> 
        </li>       
    </ol>
    <a href="/index">&#8656;</a>
{% endblock %}
