{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Статьи</h1>

    {% if message %}
        <h2 style="color: #54547e;">{{ message }}</h2>
    {% endif %}

    {% for article in articles %}
        <h2 style="{% if article['is_favorite'] %}color: gold;{% endif %}">{{ article['title'] }}</h2>
        <blockquote>{{ article['article_text'] }}</blockquote>

        {% if article['is_favorite'] %}
            <form action="{{ url_for('lab5.unfavorite', article_id=article['id']) }}" method="post">
                <button type="submit" style="font-size: 12pt; color: red;">Убрать из любимых</button>
            </form>
        {% else %}
            <form action="{{ url_for('lab5.favorite', article_id=article['id']) }}" method="post">
                <button type="submit" style="font-size: 12pt; color: green;">Добавить в любимые</button>
            </form>
        {% endif %}

        {% if article['is_public'] %}
            <form action="{{ url_for('lab5.make_private', article_id=article['id']) }}" method="post">
                <button type="submit">Сделать приватной</button>
            </form>
        {% else %}
            <form action="{{ url_for('lab5.make_public', article_id=article['id']) }}" method="post">
                <button type="submit">Сделать публичной</button>
            </form>
        {% endif %}
        
        <br><a href="{{ url_for('lab5.edit_article', article_id=article['id']) }}" 
            style="font-size: 12pt; color: #54547e;">Редактировать</a>
        <a href="{{ url_for('lab5.delete_article', article_id=article['id']) }}" 
            style="font-size: 12pt; color: #54547e;">Удалить</a>
    {% endfor %} 

    <br><a href="/lab5">&#8656;</a>
{% endblock %}
