header {
    background-color: #666699;
    color: #ba9eb5;
    padding: 5px;
    font-size: 13pt; 
    text-align: left;
}
footer {
    background-color: #666699;
    color: #ba9eb5;
    padding: 5px;
    font-size: 13pt; 
    text-align: right;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
body{
    background-color: #8c80a6;
    color: #ffcccc;
    margin: 0px;
}
main{
    /* color: #ffcccc; */
    margin: 10px 20px 45px;
    /* font-size: 14pt;  */
}
div{
    margin: 5px;
}
a {
    padding: 5px;
    text-decoration: none;
    color: #e0b8c2;
    font-size: 14pt;
    font-weight: bold;
}
a:hover {
    color: #e0b8c2; 
    font-style: oblique;
    text-shadow:  4px 3px 3px #666699d3;
}
h1, h2, h3{
    margin: 5px 5px 5px;
}
p{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
img {
    width: 30%;
}
button {
    cursor: pointer;
    background-color: #ba9eb5;
    border: 1.5px solid #666699;
    border-radius: 5px;
    color: #666699;
    margin: 5px;
}
.error {
    color:  #8E1369;
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
}
.drinks {
    border: 5px dotted #666699;
    border-radius: 40px;
    margin: 5px 5px 25px;
    text-align: center;
    width: 280px;
    margin: 0 auto;
}
.pay{
    border: 5px dotted #666699;
    border-radius: 40px;
    margin: 5px 5px 25px;
    text-align: center;
    width: 280px;
    margin: 0 auto;
}
div.link {
    border: 5px dotted #666699;
    border-radius: 40px;
    margin: 5px 5px 25px;
    text-align: center;
    width: 180px;
    margin: 0 auto;
}
div.temp {
    border: 7px double #edfdce;
    background-color: #6f84ef;
    border-radius: 40px;
    padding: 5px 5px 5px;
    text-align: center;
    width: 250px;
    margin: 0 auto;
    color: #edfdce;
}
button.temp {
    cursor: pointer;
    background-color: #4350909e;
    border: 4px double #edfdce;
    border-radius: 5px;
    color: #edfdce;
    margin: 5px;
}
