{% extends "base.html" %}

{% block lab %}Лабораторная работа 7{% endblock %}

{% block script %}
{% endblock %}

{% block main %}
<ul> 
    <li>
        <a href="/lab7/rest-api/films/">список фильмов</a> 
    </li>
    <li>
        <a href="/lab5/public_articles/">список публичных статей</a> 
    </li>
    <li>
        <a href="/lab5/create/">создать статью</a> 
    </li>
    <li>
        <a href="/lab5/users/">список пользователей</a> 
    </li>
</ul>

    <a href="/index">&#8656;</a>
{% endblock %}
