{% extends 'cinema.html' %}

{% block lab %}Расчётно-графическое задание{% endblock %}

{% block main %}
    <h1>Редактировать сеанс</h1>

    <div class="border">
        <form method="post">
            <label>Фильм:</label>
            <br><input type="text" id="movie_name" name="movie_name" value="{{ session.movie_name }}" required><br>

            <label>Дата:</label>
            <br><input type="date" id="session_date" name="session_date" value="{{ session.session_date }}" required><br>

            <label>Время:</label>
            <br><input type="time" id="session_time" name="session_time" value="{{ session.session_time }}" required><br>

            <button type="submit">Сохранить</button>
        </form>
    </div>
{% endblock %}
