{% extends 'cinema.html' %}

{% block lab %}Расчётно-графическое задание{% endblock %}

{% block main %}
    <h2>Вход</h2>

    <form method="post">
        <label for="username">Логин:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Войти</button>
    </form>

    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}

    <a href="{{ url_for('rgz.register') }}">Регистрация</a>
{% endblock %}
