{% extends 'cinema.html' %}

{% block lab %}Расчётно-графическое задание{% endblock %}

{% block main %}
    <h1>Регистрация</h1>

    <div class="border">
        <form method="post">       
            <label>Имя:</label>
            <br><input type="text" id="name" name="name" required><br>

            <label>Логин:</label>
            <br><input type="text" id="username" name="username" required><br>

            <label>Пароль:</label>
            <br><input type="password" id="password" name="password" required><br>

            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>    

    {% if error_message %}
        <div class="error_message">{{ error_message }}</div>
    {% endif %}
    <a href="/rgz/">&#8656;</a>
{% endblock %}
