{% extends "cinema.html" %}

{% block lab %}Расчётно-графическое задание{% endblock %}

{% block main %}
    <h1>Кинотеатр</h1>  

    {% if session.get('user_id') %}
        <div class="border">
            <div>Добро пожаловать, {{ session.get('user_name') }}!</div>

            <a href="{{ url_for('rgz.sessions') }}">Посмотреть сеансы</a> <br>
            <a href="{{ url_for('rgz.logout') }}">&#8656; Выйти из аккаунта</a><br><br>

            {% if 'user_id' in session %}
                <form method="post" action="{{ url_for('rgz.delete_account') }}">
                    <button class="del" type="submit" onclick="return confirm('Вы уверены, что хотите удалить аккаунт?')">Удалить аккаунт</button>
                </form>
            {% endif %}
        </div>    
        
    {% else %}
        <h3>Добро пожаловать на страницу кинотеатра!</h3>
        <div style="text-align: center;">
            <a class="button" href="{{ url_for('rgz.login') }}">Вход</a>
            <a class="button" href="{{ url_for('rgz.register') }}">Регистрация</a>
        </div>        
    {% endif %}

    <br><a href="/index">&#8656;</a>
{% endblock %}
