{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block script %}
    <style>
        .button {
            cursor: pointer;
            background-color: #ba9eb5;
            border: 1.5px solid #666699;
            border-radius: 5px;
            color: #666699;
            margin: 5px;
            padding: 1.6px 5.8px;
            font-weight: normal;
            font-size: 10pt;
            font-family: Arial, Helvetica, sans-serif;
        }
        a:hover.button {
            cursor: pointer;
            background-color: #ba9eb5;
            border: 1.5px solid #666699;
            border-radius: 5px;
            color: #666699;
            margin: 5px;
            padding: 1.6px 5.8px;
            font-weight: normal;
            font-size: 10pt;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            text-shadow:  4px 3px 3px #66669900;
        }
    </style>
{% endblock %}

{% block main %}
    <h1>Создать статью</h1>
    <form method="post">
        <label for="title">Заголовок:</label><br>
        <input type="text" id="title" name="title" required><br><br>

        <label for="article_text">Текст статьи:</label><br>
        <textarea id="article_text" name="article_text" required></textarea><br><br>

        <label for="is_favorite">Добавить в избранное?</label>
        <input type="checkbox" id="is_favorite" name="is_favorite"><br><br>

        <label for="is_public">Сделать публичной?</label>
        <input type="checkbox" id="is_public" name="is_public" placeholder="да"><br><br>

        <button type="submit">Создать статью</button>
        <a href="/lab8/articles/" class="button">Отмена</a>
    </form>
    
    <a href="/lab8/">&#8656;</a>
{% endblock %}
